*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
#wrapper{
  position: fixed;
  top: 100px  ;
  left:60px;
  z-index: 1;
}

.breadcrumbs{
  width: 60px;
  height: 0px;
  background:;
  border-radius: 50px;
  position: relative;
  transition: 0.4s;
}
.breadcrumbs:hover{
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  background: #fff;
  height: 250px;
}

.breadcrumbs ul{
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}
.breadcrumbs:hover ul{
  opacity: 1;
}

.breadcrumbs ul li{
  width: 100%;
  height: 10px;
  display: block;
  padding: 40px 0;
  position: relative;
}


.breadcrumbs ul li a {
  color: #afafaf;
  font-size: 14px;
}


.breadcrumbs .home{
  position: absolute;
  transform: translateY(-50%);
  left: -10px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #5e5959;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

.breadcrumbs .home a{
  font-size: 25px;
  color: white;
}
@media screen and (max-width:800px){
  #wrapper{
    position: relative;
    top: 20px;
    left: 40px;
    z-index: 1;
  }
  .breadcrumbs{
    width: 200px;
    height: 30px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    background: #fff;
  }


  .breadcrumbs ul{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    opacity: 1;
  }

  .breadcrumbs ul li{
    width: 60px;
    right: 10%;
    height: 10%;
    padding: 0px 0px;
    display: flex;
    position: relative;
  }


  .breadcrumbs ul li a {
    color: #afafaf;
    font-size: 10px;
  }


  .breadcrumbs .home{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #5e5959;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
  }

  .breadcrumbs .home a{
    font-size: 25px;
    color: white;
  }
}
